{{!-- Dyanamic Page - to seperate view and code --}}

<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css"/>
       
    </head>

    <body>

        <center>
            <div>
            <h1>{{title}}</h1>        

        <h4>Use this site for weather information for below search location</h4>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>
        

        {{!-- <h3>Created by {{name}}</h3> --}}
         <script src="/js/app.js"></script>

         </div>
         </center>

    </body>
</html>